$ytRed : #cd201f;
$black: #000;
$green: #3b4;





*{
  font-family:Open Sans;
  box-sizing:border-box;
}

*::selection{
  background-color:#B11B1B;
  text-shadow:none;
  color:white;
}

.light{
  font-weight:300;
}

.copy-text{
  color:$ytRed;
}

.copy-button{
  opacity:0.5;
  transition:opacity 0.2s;
  &.zeroclipboard-is-hover, &:hover{
    opacity: 1;
  }
}

a,.link{color:$ytRed;
  cursor:pointer;
  text-decoration:none;
  &:hover{
    text-decoration: underline;
  }
}

.hidden{
  display:none;
  visibility:hidden;
}


.animate-if{
  transition:opacity 0.5s;
}

.ng-hide{
  opacity:0;
}

.module-section.no-styles{
  background-color:transparent;
  padding:0;
  box-shadow:none;
}

.history-holder{
  display:flex;
  justify-content: flex-start;
  margin:-0.5em;
}

.history-item{
  display:inline-block;
  max-width:25%;
  margin:0.5em;
  flex-grow:1;
  box-shadow:0px 1px 4px rgba(0,0,0,0.2);
  cursor:pointer;
  line-height:1em;
  color:white;
  text-shadow:0 0 3px black;
  position:relative;
  &:hover{
    .history-item-magnify{
      opacity:1;
    }
    .history-item-inner{
      background-size: auto 105%;
      filter:blur(1px);
    }
  }
}

.history-item-magnify{
  position:absolute;
  display:flex;
  justify-content: center;
  align-items:center;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-color:rgba(0,0,0,0.2);
  z-index:1;
  opacity:0;
  transition:opacity 0.1s;
        font-size:1.4em;
}

.history-item-inner{
  width:100%;
  padding-bottom:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  transition: all 0.1s;
  overflow:hidden;
}

.float-left{
  float:left;
}

.inline-block{
  display:inline-block;
}

.float-right{
  float:right;
}

.loading .loading-fade{
  opacity:0.5;
}

.loading-fade{
  transition:opacity 0.5s;
}

.downloads-holder{
  display:flex;
  margin:-0.5em;
  flex-wrap:wrap;
}

.download-item{
  background-color:white;
  padding:1em;
  box-shadow:0px 1px 4px rgba(0,0,0,0.2);
  margin:0.5em;
  flex:1;
  // display:flex;
  min-width:25%;
  cursor:pointer;
  transition:box-shadow 0.2s, transform 0.2s;
  &:hover{
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    transform:translateY(-1px);
  }
  &:active{
    transform:translateY(0px);
    box-shadow:0px 1px 1px rgba(0,0,0,0.1);
  }
}

// #ytplayer{
//   filter:blur(2px);
//   opacity:0.8;
//   transition:filter 0.5s, opacity 0.5s;
//   &:hover{
//     filter:blur(0);
//     opacity:1;
//   }
// }

.video-module{
  margin-top:3em;
}

body{
  // background:url('../assets/img/background.png')
  background-color:#f0f0f0;
}

.video-image{
  width:100%;
  height:100%;
}

.small{
  font-size:0.85em;
}

.video-title{
  font-size:1.2em;
  font-weight:300;
}

.page-footer{
  text-align:center;
}
.page-header{
  background-color: rgba(0,0,0,0.8);
  position:fixed;
  width:100%;
  color:white;
  z-index:2;
}

.page-title{
  font-size:1em;
}

.video-wrapper {
  background-color:#000;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-wrapper .video-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.results-table{
  width:100%;
}

.width-container{
  max-width: 900px;
  margin:0 auto;
  padding:1em;
}

.module-section{
  // border:1px solid $black;
  background-color:white;
  padding:1em;
  box-shadow:0px 1px 4px rgba(0,0,0,0.2)
}

.module-section.no-padding{
  // border:0;
  padding:0;
  line-height: 0px;
}

.module-section+.module-section{
  margin-top:1em;
}

.module-section:last-child{
  // border-radius:0 0 2px 2px;
}

.search-holder{
  display:flex;
  align-items:center;
}

.text-center{
  text-align: center;
}

.embed{
  cursor:pointer;
}

.module-input{
  width:100%;
  flex-grow:1;
  background-color:white;
  outline:0;
  color:#aaa;
  border:0;
}

.search-holder > *{
  padding:1em;
}

.search-holder > * + * {
  padding-left:0;
}

.vid-search:focus{
  color:black;
}


.vid-search:focus + .search-icon-holder > .svg-search,
.search-holder:hover .svg-search{
  stroke:#222;
}

$transitionTime:0.4s;

.svg-search {
    stroke-width:4px;
    stroke:#aaa;
    transition:stroke 0.2s;
    fill:none;
    stroke-linecap:round;
    height:1em;
    width:1em;
    padding:1em;
    box-sizing:content-box;
}

.svg-search-lens-holder{
    transform:translate(0,0);
    transition:transform $transitionTime;
}

.svg-search-lens{
    transform-origin:13px 13px;
    transform:translate(0,0);
    transition:transform $transitionTime;
    animation-name:spin;
    animation-duration:0.5s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-play-state:paused;
}

.svg-search-lens-n{
    transform:translate(0,0);
    transition:transform $transitionTime;
    transform-origin:13px 13px;
}

.svg-search-handle{
    transform:translate(0,0);
    transition:opacity $transitionTime, transform $transitionTime;
}

.loading{
  .svg-search-lens{animation-play-state:running}
  .svg-search-lens-holder{transform:translate(3px,3px) scale(1.2,1.2)}
  .svg-search-lens-n{transform:rotate(-120deg)}
  .svg-search{stroke:#cd201f!important}
  .svg-search-handle{
    transform:translate(6px,6px);
    opacity:0;
  }
} 

@keyframes spin{
    from{transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

button.unbutton{
  background:transparent;
  border:0;
  padding:0;
  margin:0;
  outline:0;
}
